ul {
  list-style: none;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

/* header */
.body {
  background-color: #ffffff;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .web {
  color: var(--accent-color);
}
.logo .studio-header {
  color: var(--title-text-color);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* hero section */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background-color: var(--accent-color);
}

/* section */

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* benefits */

.benefits {
  background-color: white;
}

.benefits .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits .text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* wwd */

/* our team */

.section-our-team {
  background-color: #f5f4fa;
}

.team-list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* footer */

.footer {
  background-color: #2f303a;
}

.studio-footer {
  color: white;
}

.footer-city {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
}

.footer-contacts {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
