ul{
    list-style: none;
}

a{
    text-decoration: none;
}

:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color: #2196F3;
}

/* header */
.page{
    background-color: #FFFFFF;
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
}

.logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo .web{
    color:var(--accent-color);
}
.logo .studio-header{
    color:var(--title-text-color) ;
}


.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.site-nav .link:hover ,
.site-nav .link:focus{
    color:var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.header-contacts .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.header-contacts .link:hover ,
.header-contacts .link:focus{
    color:var(--accent-color);
}


/* main */

.main{
    background-color: #E5E5E5;
}

 .projects-buttom{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
    background-color: #F5F4FA;;
}

.projects-buttom:hover,
.projects-buttom:focus{
    background-color: var(--accent-color);
    color:white;

}

.project-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.project-filter{
    font-size: 16px;
    line-height: 30px;      
    letter-spacing: 0.03em;
    color: #757575;
}

.project-text{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;    
}



/* footer */

.footer{
    background-color: #2F303A;
}

.studio-footer{
    color: white;
}

.footer-city{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: white;
}

.footer-contacts {
    font-style: normal;
    font-weight: normal;    
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}